/* add css module styles here (optional) */

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}

button {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: 0 2px #00000004;
  cursor: pointer;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  color: #000000d9;
  border-color: #d9d9d9;
  background: #fff;
  outline: none;
}

button:hover {
  color: #40a9ff;
  border-color: #40a9ff;
  cursor: pointer;
}

.dashed {
  border-style: dashed;
}

.primary {
  background-color: #40a9ff;
  border-color: #40a9ff;
  color: white;
}


.primary:hover {
  color: white;
  opacity: 0.9;
}

.text {
  background-color: none;
  border: none;
}

.text:hover {
  color: black;
  background-color: rgb(251, 246, 246);
}

.link {
  background-color: none;
  border: none;
  color: #40a9ff;
}

.link:hover {
  opacity: 0.9;
}

.secondary {
  background-color: red;
  border-color: red;
  color: white;
}

.secondary:hover {
  opacity: 0.9;
}